.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
    width: 500px;
    border-bottom: 1px solid #757373;
    cursor: pointer;

}

.activeItem {
    /* border-bottom: 2px solid #0e8531; */
    box-shadow: #757373;
}

.todoText {
    width: 100%;
    transition: transform 0.3s;
}

.activeTodoText {
    color: #0000004f;
    text-decoration: line-through;
}

.item:hover .todoText {
    transform: scale(1.01);
    /* background-color: rgb(160, 223, 173); */
    /* transform: scaleX(1.005); */
    /* box-shadow: 0px 5px 3px -4px rgba(34, 60, 80, 0.33); */
    /* border-bottom: 1px solid #007bff; */
}

.deleteButton {
    color: #fff;
    background-color: #32485a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteButton:hover {
    background-color: #db3838;
}

.customCheckbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .customCheckbox input {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  
  .customCheckbox input:checked + span {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .customCheckbox input:checked + span::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg); 
  }
  
  .customCheckbox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%; 
    transition: background-color 0.3s, border-color 0.3s;
  }